:root {
  --primary-gray: #d5d5d5;
}

body {
  font-family: "Poppins", sans-serif;
}

.page-container {
  padding: 0rem 6rem;
}

.ck-editor__main,
.ck-content {
  height: 18rem;
  max-height: 18;
  overflow: hidden;
  overflow-y: auto;
}
