:root {
  --primary-gray: #d5d5d5;
  --background: #ffffff;
  --text: #000000;
}
.light .login,
.register input::placeholder {
  color: #0e0c0c;
}

.dark {
  --background: #1a202c;
  --text: #ffffff;
}
.dark .login {
  background-color: #080606;
}
.dark .login label {
  color: white;
}
.dark .login input::placeholder {
  color: #ccc;
}

.dark .register {
  background-color: #080606;
}
.dark .register label {
  color: white;
}
.dark .register input::placeholder {
  color: #ccc;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.page-container {
  padding: 0rem 6rem;
}

.ck-editor__main,
.ck-content {
  height: 18rem;
  max-height: 18;
  overflow: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 760px) {
  .page-container {
    padding: 0rem 1rem;
  }
}
